---
import SecondaryLayout from "@/layouts/SecondaryLayout.astro"
---

<SecondaryLayout>
  <div class="px-4 py-12 space-y-12 max-w-sm mx-auto lg:max-w-2xl h-full flex flex-col justify-center">
    <h1 class="font-medium text-3xl text-center lg:text-5xl">
      Código de conducta
    </h1>
    <p class="text-lg lg:text-2xl">
      El espacio funciona como una suerte de “micrófono abierto” en donde
      cualquiera es libre de pasar al frente y declamar poesía, cantar,
      compartir una historia, cuento o reflexión. Cualquiera es libre de estar o
      intervenir -siempre y que lo haga con respeto-. Es un espacio relajado y
      amigable, donde los distintos talentos salen a flote y en ocasiones
      aparecen colaboraciones inesperadas entre los asistentes.
    </p>
  </div>
</SecondaryLayout>
