---
import MainLayout from "@/layouts/MainLayout.astro"
import Card from "@/components/Card.astro"
import { Icon } from "astro-icon"
---

<MainLayout>
  <section class="px-4 py-40 flex flex-col items-center space-y-12">
    <div class="space-y-3 text-center lg:space-y-7">
      <h1 class="font-medium text-5xl leading-snug lg:text-6xl">
        Blog de Poesía Uniandes
      </h1>
      <p class="text-xl font-light lg:text-2xl">
        Espacio de expresión artística para estudiantes
      </p>
    </div>
    <Icon name="akar-icons:arrow-up" class="rotate-180 w-14" />
  </section>
  <section class=" bg-secondary">
    <div class="py-12 lg:py-16 px-4 space-y-8 grow-container">
      <h2
        class="text-2xl lg:text-3xl font-medium max-w-2xl mx-auto lg:max-w-screen-xl"
      >
        Publicaciones
      </h2>
      <div
        class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:justify-between max-w-2xl mx-auto md:gap-y-10 md:justify-items-stretch md:gap-x-7 lg:max-w-screen-xl lg:grid-cols-3"
      >
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
      </div>
    </div>
  </section>
</MainLayout>
