---
import { Icon } from "astro-icon"
import { Image } from "@astrojs/image/components"

// const { imageUrl } = Astro.props
const imageUrl =
  "https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
---

<article class="w-full space-y-3 max-w-2xl">
  <Image src={imageUrl} alt="Card image" height={500} aspectRatio={3 / 2} />
  <h3 class="font-medium text-2xl">Lorem ipsum</h3>
  <div class="flex justify-between items-center">
    <div class="text-sm">
      <div class="">Por Michel Djerzinski</div>
      <div class="font-light">YYYY-MM-DD</div>
    </div>
    <div class="flex items-end space-x-1">
      <div class="font-serif font-medium text-xl">Leer</div>
      <Icon name="akar-icons:arrow-up" class="rotate-90 w-6" />
    </div>
  </div>
</article>
