---
import { Icon } from "astro-icon"
---

<footer
  class="flex justify-between items-center px-16 py-5 max-w-screen-2xl mx-auto border-t border-t-gray-300"
>
  <div class="text-xs">© 2022 Poesía Uniandes</div>
  <div class="flex items-center">
    <a
      href="https://www.instagram.com/poesiauniandes/"
      target="_blank"
      title="Instagram icon link"
    >
      <Icon
        name="akar-icons:instagram-fill"
        class="aspect-square w-6 hover:text-instagramPink transition-colors"
      />
    </a>
    <a
      href="https://www.facebook.com/poesia.uniandes"
      target="_blank"
      title="Facebook icon link"
      class="ml-5"
    >
      <Icon
        name="akar-icons:facebook-fill"
        class="aspect-square w-6 hover:text-facebookBlue transition-colors"
      />
    </a>
  </div>
</footer>
