---
import { Icon } from "astro-icon"
import SecondaryLayout from "./SecondaryLayout.astro"
import type { PostProps } from "@/types"

interface Props extends Omit<PostProps, "text"> {}

const { title, name, image, publishedAt } = Astro.props
---

<SecondaryLayout>
  <div class="text-center lg:text-left">
    <div
      class="py-12 px-4 grow-container flex flex-col space-y-12 max-w-screen-xl mx-auto"
    >
      <div>
        <h1 class="font-medium text-4xl mb-3 lg:text-5xl">
          {title}
        </h1>
        <a class="mb-2 text-lg font-light lg:text-xl">Por {name}</a>
        <div class="font-light text-sm">{publishedAt}</div>
      </div>
      <hr class="w-full h-px bg-black/50" />
      <div class="flex flex-col space-y-12 lg:space-y-0 lg:flex-row">
        <!-- Imagen + Artículo -->
        <div class="flex flex-col space-y-12 w-full max-w-xl mx-auto lg:mx-0">
          <div class="aspect-w-3 aspect-h-2">
            <img src={image} alt="Article image" width={576} class="object-cover" />
          </div>
          <div class="text-left text-lg">
            <slot />
          </div>
        </div>
        <!-- Sección para compartir en redes -->
        <div class="mx-auto">
          <!-- Wrapper para fixed -->
          <div class="sticky top-20 space-y-5 mx-auto lg:mx-0">
            <strong class="text-sm text-black/50 uppercase"
              >Comparte este escrito en redes</strong
            >
            <div class="flex items-center space-x-6 justify-center">
              <Icon
                name="akar-icons:twitter-fill"
                class="w-8 hover:text-black/70"
              />
              <Icon
                name="akar-icons:facebook-fill"
                class="w-8 hover:text-black/70"
              />
              <Icon
                name="akar-icons:instagram-fill"
                class="w-8 hover:text-black/70"
              />
              <Icon
                name="akar-icons:link-chain"
                class="w-8 hover:text-black/70"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</SecondaryLayout>
